.container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;

}



.form-container{
    padding-top: 40px;
}

.textarea{
    margin-top: 20px;
    width: 800px;
    height: 300px;
    padding: 20px;
}
.button-container{
    margin-top: 10px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left ;
    margin-left: 500px;
}

button{
    padding: 15px 18px;
    background-color: blue;
    font-size: 18px;
    color:white;
    border-radius: 10px;
    border: none;
}

button:focus {
    background-color: rgb(13, 127, 165);
}


h2{
    margin-top: 10px;
    font-size: 30px;
}

p{
    margin-top: 10px;
    font-size: 20px;
}